body {
  height: 600px;
}

div.content{
  width: 1240px;
  height: 720px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding-top: 150px;
  box-sizing: content-box;
}
img {
  width: 25%; height: 25%;
}
button{
  width:110px;
  height: 28px;
}
input {
  width: 25%; height: 20px;
}
